:root {
    --primary-background-color: #aaf;
    --secondary-background-color: #fffdfd;
    --heading-color: rgb(103, 103, 241);
    /* dark slate blue */
    --accent2-color: rgb(165, 29, 52);
    /* light golden yellow */
    --heading-font: 'Franklin Gothic Medium', 'Arial Narrow',
        --body-font: 'Arial, Helvetica, sans-serif';
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /*max-width: 840px;*/
}

body {
    border: none;
    max-width: 840px;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    /*box-sizing*/
}

main {
    font-family: var(--body-font);

    font-size: 1.4;
    font-weight: 700;
    /*border: 1px solid rgb(30, 30, 12);*/
    padding: 20px 40px;

    /*margin-bottom: 20px;*/
}

.news {
    display: grid;
    justify-content: center;
}

.news p {
    display: flex;
    align-items: center;
    margin: 4px;
}

main h2 {
    font-weight: 700;
    font-size: 0.7;
    margin: 20px 4px;
}

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--heading-color);
}

ul {
    display: flex;
    align-self: center;
    grid-column: 3/7;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

nav a {
    display: block;
}

header img {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 2em;
    width: 100px;
    height: auto;
}

img {
    margin-top: 2rem;
}

.hero {
    position: relative;
}

/* This rule sets the size of the background image */
.hero img {
    width: 100%;
    height: auto;
}

/* This rule places the h1 tag over the image */
.hero h1 {
    position: absolute;
    top: 2em;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--primary-background-color);

}

.hero h2 {
    color: rgb(7, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 2rem;
    /*border: 1px solid black;*/
}

/* This rule places the article tag area over the image */
.hero article {
    position: absolute;
    bottom: 100px;
    left: 30px;
    right: 30px;
    background-color: #f3f2ee87;
    display: block;
}

article p {
    color: #111111;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* This rule floats the image in the article tag to the right */
.hero article img {
    float: right;
    width: 120px;
    /* This next delaration sets a left margin only on the image so the text from the p tag
    does not touch the image and you can read the text. */
    margin: 0 0 0 30px;
}

h2 {
    font-family: var(--body-font);
    color: var(--accent2-color);
    /*padding: 20px 10px;*/
}

nav,
p,
section,
article {
    margin: 17px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: end;
    align-self: center;
    border-top: 1px solid #333;
    background-color: #f5f5f5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #333;
    margin-top: 3rem;

}

footer p {
    align-self: center;
}

.socialmedia img {
    width: 2rem;
    display: inline;
    margin: 7px;
}

.history img {
    width: 100%;
    height: 90%;
    grid-column: 2/3;
    grid-row: 1/3;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 2px;
    /*margin: 20px 10px;*/
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*height: 100%;*/
}

section h2,
.grid h2 {
    display: grid;
    grid-column: 1/2;
    place-items: center;
    gap: 10px;
    margin: 20px;

}

.history p {
    text-align: justify;
    /*height: 100%;*/

}

ul li {
    padding: 1em;
    margin: 2px;
    background-color: var(--secondary-background-color);
    justify-content: space-between;
    font-family: var(--heading-font);

}

/* These next 2 rules affect the <a href> tags */
ul li a {
    color: #0a0303;
    text-decoration: none;
    padding: 1rem;
}

ul li a:hover {
    color: #fff;
    background-color: #3e3e;
}

.caption {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.caption img {
    /*width: 50%;*/
    width: 100%;
    height: 100px;
    display: block;
    border-radius: 2px;
    box-shadow: 0 0 3px;
    object-fit: cover;

}

figure {
    text-align: center;
}

.caption h2 {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

figcaption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 104, 104);
    margin: 1rem;
}

/* Home page code part*-------------------------------------------------*/

fieldset {
    margin: 10px 10px;
    padding: 5px 50px;

}

aside {
    background-color: rgb(225, 225, 237);
    margin: 40px 20px;
    font-style: italic;
}

/*----------------------------------------------------------------------------*/
.form-1 {
    background-color: white;
    width: 100%;
    height: 100px;
    max-width: 100%;
    /*grid-column: 2/3;
    grid-row: 1/2;*/
    margin: 10px;

}

.infos {
    background-color: white;
    border: none;
    grid-row: 2/3;
}

.second-contact {
    display: grid;
    align-items: flex-start;
    padding: 0 40px;
    width: 50%;
    /*background-color: #fff;*/
}

.radio {
    display: flex;
    justify-self: start;
    align-items: flex-start;
}

/*------------------pb--------------------------------------------------------------------------------*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

legend {
    margin: 7px 7px;
    color: blue;
    font-size: 2rem;
    font-weight: bold;

}

.legend-purpose {
    font-size: 20px;
    margin: 7px 7px;
    padding: 0 7px;
}

fieldset button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition-duration: 2ms;
    font-weight: bold;
    font-size: 2;
    margin: 10px 20px;

    /*border: 1px 1px solid #000;*/
}

button:hover {
    background-color: rgb(2, 130, 2);
}

label,
input,
textarea {
    width: 100%;
    padding: 5px 5px;
    margin: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    font-family: sans-serif;

}

.check-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.check-group label {
    cursor: pointer;
}

fieldset label {
    padding: 5px 0 5px;
    font-weight: 700;
    font-size: 0.5;

}

.legend-purpose {
    color: #000;
}

.form {
    margin: 0 auto;
    width: 100%;

}

section img {
    width: 200px;
    height: 0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
    padding: 10px 10px;
    font-weight: 700;
    color: var(--accent2-color);
}

.caption-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px 2px 30px 2px;

}

.caption-1 img {

    width: 100%;
    height: 100px;
    display: block;
    border-radius: 2px;
    box-shadow: 0 0 7px;
    object-fit: cover;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 0;
    /*---add-----------------------------------------------------*/

}

figure {
    text-align: center;
}

fieldset .submit-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition-duration: 2ms;
    font-weight: bold;
    font-size: 2;
    width: 100%;
}

.submit-button:hover {
    background-color: rgb(2, 130, 2);
}

/*table*/

table {
    width: 100%;
    height: 100px;
    margin: 10px;
    padding: 20px 20px;
    border-collapse: collapse;
    font-family: sans-serif;

}

/*caption {
    padding: 20px;
    font-weight: bold;
    font-style: italic;
    color: rgb(20, 20, 107)
}*/

thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

tfoot {
    color-scheme: #fff;
    padding: 10px;
}

th,
td {
    padding: 10px;
    color: #fff;
    border: 1px solid rgb(8, 8, 69);
    background-color: rgb(235, 135, 151)
}

td:last-of-type {
    text-align: right;
}

aside,
a {
    text-decoration: none;
    font-family: serif;

}

aside p {
    color: black;
    font-weight: 700;
    font-family: sans-serif;
    margin: 70px;

}

span {
    background-color: #dacece;
    padding: 7px 7px;
    margin: 0 7px;
}

main p {
    font-family: sans-serif;
    font-weight: 100;

}

.map image {
    width: 100%;
    height: 100px;
    /*grid-column: 1/2;
    grid-row: 1/2;*/
    margin: 0 0;
}