:root {
    --primary-background-color: #aaf;
    --secondary-background-color: #fffdfd;
    --heading-color: rgb(103, 103, 241);
    /* dark slate blue */
    --accent2-color: #756439;
    /* light golden yellow */
    --heading-font: 'Franklin Gothic Medium', 'Arial Narrow',
        --body-font: 'Arial, Helvetica, sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

main {
    font-family: var(--body-font);
}

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--heading-color);
}

ul {
    display: flex;
    align-self: center;
    grid-column: 3/7;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

nav a {
    display: block;
}

header img {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 2em;
}

img {
    margin-top: 2rem;
}

.hero {
    position: relative;
}

/* This rule sets the size of the background image */
.hero img {
    width: 100%;
    height: auto;
}

/* This rule places the h1 tag over the image */
.hero h1 {
    position: absolute;
    bottom: 1em;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--primary-background-color);

}

.hero h2 {
    color: rgb(7, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
    border: 1px solid black;
}

/* This rule places the article tag area over the image */
.hero article {
    position: absolute;
    bottom: 100px;
    left: 30px;
    right: 30px;
    background-color: #f3f2ee87;
    display: block;
}

article p {
    color: #111111;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* This rule floats the image in the article tag to the right */
.hero article img {
    float: right;
    width: 120px;
    /* This next delaration sets a left margin only on the image so the text from the p tag
    does not touch the image and you can read the text. */
    margin: 0 0 0 30px;
}

h2 {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

nav,
p,
section,
article {
    margin: 17px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: end;
    align-self: center;
    border-top: 1px solid #333;
    background-color: #f5f5f5;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

footer p {
    align-self: center;
}

.socialmedia img {
    width: 2rem;
    display: inline;
    margin: 7px;
}

.history img {
    width: 100%;
    height: 77%;
    grid-column: 2/3;
    grid-row: 1/3;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 2px;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

section h2 {
    display: grid;
    grid-column: 1/2;
    place-items: center;

}

.history p {
    text-align: justify;

}

ul li {
    padding: 1em;
    margin: 2px;
    background-color: var(--secondary-background-color);
    justify-content: space-between;
    font-family: var(--heading-font);

}

/* These next 2 rules affect the <a href> tags */
ul li a {
    color: #0a0303;
    text-decoration: none;
    padding: 1rem;
}

ul li a:hover {
    color: #fff;
    background-color: #3e3e;
}

.caption {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.caption img {
    /*width: 50%;*/
    width: 100%;
    height: 100px;
    display: block;
    border-radius: 2px;
    box-shadow: 0 0 3px;
    object-fit: cover;

}

figure {
    text-align: center;
}

.caption h2 {
    display: flex;
    justify-content: center;
}

figcaption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 104, 104);
    margin: 1rem;
}