* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: #333;
    color: white;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    text-align: center;

}

h1 {
    margin: 20px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #333;
}

section {
    background-color: #abe;
    border-bottom: 10px;
    margin: 20px;
    padding: 10px;
    font-size: .9rem;
}

section p {
    margin: 20px;
    line-height: 1.8;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

ul {
    margin: 20px;
    line-height: 1.8;
}

main {
    width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}

footer {
    font-size: .9rem;
}