:root {

    --main-background: #00f;
    --main-color: rgb(182 163 0/1);
    --general-margin: 10px;
    --general-padding: 4px;
    --main-width: 200px;
    --main-heigth: auto;
    --used-border: #abe;
}

main {
    max-width: 840px;
    margin: var(--general-margin);
    padding: var(--general-padding);
    margin: 0 auto;

}

main img {

    width: var(--main-width);
    height: var(--main-heigth);
    border: 10px solid var(--used-border);
    margin: var(--general-margin);
    padding: var(--general-padding);
    /*# here*/
    box-shadow: 0 0 30px #333;

}

h1 {
    color: var(--main-color);
    /*color: rgb(182 163 0/ 1);*/

    /*color: rgb(238 254 238/ 1);*/

}

nav {
    background-color: var(--main-background);
    /*# here*/

    padding: var(--general-padding);
    /*# here*/
}

nav a {
    display: block;
    color: #eee;
    margin: var(--general-margin);
    padding: var(--general-padding);
}

aside {
    width: var(--main-width);
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    margin: 0 auto;
}

aside img {
    width: var(--main-width);
    /*----*/
    height: var(--main-heigth);
    /*----*/

}

p {
    padding: 0;
    line-height: 1.7;
}

footer {
    margin-top: 40px;
    border-top: 1px solid #333;
    text-align: center;
}

/*img {}