* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --main-background: #00f;
    --main-color: rgb(182 163 0/1);
    --general-margin: 10px;
    --general-padding: 4px;
    --main-width: 200px;
    --main-heigth: auto;
    --used-border: #abe;
}

main {
    max-width: 840px;
    margin: var(--general-margin);
    padding: var(--general-padding);
    margin: 0 auto;

}

/*h3 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: auto;
    right: 20px;
    text-align: center;
    color: #333;
    font-size: 1rem;
    color: #eee;
}*/

main img {
    float: right;
    width: var(--main-width);
    height: var(--main-heigth);
    border: 10px solid var(--used-border);
    margin: var(--general-margin);
    padding: var(--general-padding);
    /*# here*/
    box-shadow: 0 0 30px #333;
    float: right;
}

h1 {
    color: var(--main-color);
    /*color: rgb(182 163 0/ 1);*/

    /*color: rgb(238 254 238/ 1);*/

}

nav {
    background-color: var(--main-background);
    /*# here*/

    padding: var(--general-padding);
    /*# here*/
}

nav a {
    display: block;
    color: #eee;
    margin: var(--general-margin);
    padding: var(--general-padding);
}

aside {
    width: var(--main-width);
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    margin: 0 auto;
}

aside img {
    width: var(--main-width);
    /*----*/
    height: var(--main-heigth);
    /*----*/
}

p {
    padding: 0;
    text-align: justify;
}

footer {
    margin-top: 40px;
    border-top: 1px solid #333;
    text-align: center;
}

.paragraph-part {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*class selectors*/
.box {
    border: 1px solid rgb(0 0 0/ 0.1);
    margin: 1rem;
    padding: 1rem;
    background-color: #eee;
}

aside h2 {
    position: absolute;
    width: 20rem;
    text-align: center;
    color: red;
    font-size: 1rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}